<nav>
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="/membership">BECOME A MEMBER</a>
    </li>
    <li>
      <a href="/login">LOGIN</a>
    </li>
    <li>
      <a href="/register">REGISTER</a>
    </li>
    <li>
      <a href="/logout">LOGOUT</a>
    </li>
  </ul>
</nav>