<nav>
  <ul>
    <li>
      <a href="/">HOME</a>
    </li>
    <% if (currentUser && !currentUser.isMember) {%>
    <li>
      <a href="/membership">BECOME A MEMBER</a>
    </li>
    <% } %>
    <% if (!currentUser) {%>
      <li>
        <a href="/login">LOGIN</a>
      </li>
      <li>
        <a href="/register">REGISTER</a>
      </li>
    <% } else { %>
    <li>
      <a href="/logout">LOGOUT</a>
    </li>
    <% } %>
  </ul>
</nav>