html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General */
body * {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  background-image: url("/images/cubes.png");
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.centred {
  margin: 0 auto;
}

.button {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.save {
  background-color: rgb(74, 74, 255);
}

.save:hover {
  background-color: rgb(98, 98, 255);
}

.delete {
  background-color: rgb(223, 45, 45);
}

.delete:hover {
  background-color: rgb(224, 79, 79);
}

.link-button {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: fit-content;
  margin-top: 20px;
}

/* Navbar */

.navbar {
  background-color: rgb(1, 1, 93);
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar li {
  flex: 1 1;
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 20px 0px;
  display: block;
  font-weight: 700;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.navbar a:hover {
  background-color: rgb(39, 28, 184);
}

/* Wrap main content */
.wrapper {
  padding: 20px;
}

@media (min-width: 600px) {
  .wrapper {
    width: calc(600px + ((35vw - 40px)));
    margin: 0 auto;
  }
}

/* Error Page */

/* Forms */
.form {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid rgba(123, 124, 133, 0.459);
  /* box-shadow: 0px 0px 6px rgba(3, 18, 100, 0.657); */
  margin: 0 auto;
  margin-top: 20px;
  width: min(100%, 400px);
}

.form label {
  width: 100%;
  margin: 10px 0;
  display: block;
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid rgb(197, 197, 197);
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.form button {
  margin: 0 auto;
  display: block;
}

.form.wide {
  width: min(100%, 600px);
}

/* Messages */
.message {
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(25, 20, 82, 0.596);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: white;
  line-height: 1.5;
}

.message h2 {
  border-bottom: 1px solid rgba(25, 45, 160, 0.479);
}

.message h5 {
  color: rgb(93, 93, 93);
  border-bottom: 1px solid rgba(25, 45, 160, 0.479);
  padding: 5px 0;
}

.message p {
  margin-top: 10px;
}

.message button {
  margin: 10px auto 0 auto;
}

.action {
  margin: 20px auto;
  text-align: center;
}

/* Flash messages */
.flash {
  width: min(500px, 100%);
  background-color: white;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.flash.success {
  color: green;
  border: 2px solid rgba(0, 128, 0, 0.76);
}

.flash.error {
  color: red;
  border: 2px solid rgba(255, 0, 0, 0.76);
}

.hide {
  display: none;
}
