<%- layout("layout/boilerplate") %>
<h1>Login</h1>
<form class="form" action="/login" method="POST">
  <div>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" required autofocus/>
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
  </div>
  <button class="button save" type="submit">Submit</button>
</form>
